.menu li {
    display: inline-block;
    font-weight: 800;
    font-size: 15px;
    width: 150px;
    margin: 20px;
    padding: 10px 10px;
    background-color: tan;
}

.aim, h4 {
    text-align: center;
}
.aim span {
    color: blue;
    font: size 500px;
}
.more span {
    display: inline-block;
    font-size: 20px;
    font-weight: 900;

}